---
import { cn } from '@/lib/utils';

type TooltipProps = {
    class?: string;
};

const {
  class: className } = Astro.props as TooltipProps
---
<div
    data-slot="tooltip"
    class={cn('group/tooltip relative inline-flex', className)}
  >
    <slot />
  </div>
