---
import { cn } from '@/lib/utils';
import { ChevronDownIcon } from '@/components/ui/icon';
import type { HTMLAttributes } from 'astro/types'

type AccordionProps = {
    type?: 'single' | 'multiple';
    class?: string;
};
type AccordionItemProps = HTMLAttributes<'div'> & {
    value: string;
    variant?: keyof typeof accordionItemVariants;
};
type AccordionTriggerProps = HTMLAttributes<'button'>;
type AccordionContentProps = HTMLAttributes<'div'>;

const accordionItemVariants = {
    default: 'border-b',
    card: 'rounded-xl bg-card px-6 shadow-md',
};

const {
  value,
  variant = 'default',
  class: className,
  ...props
} = Astro.props as AccordionItemProps
---
<div
    data-accordion-item={value}
    data-state="closed"
    class={cn(accordionItemVariants[variant], className)}
    {...props}
  >
    <slot />
  </div>
